<form [formGroup]="carForm" (ngSubmit)="submit(carForm.value)">

  <div>
    <label for="licenceNumber">Licence Plate #:&nbsp;</label>
    <input id="licenceNumber" type="text" formControlName="licenceNumber">

    <app-error-messages
      *ngIf="carForm.controls.licenceNumber.invalid && carForm.controls.licenceNumber.touched"
      [messages]="formErrors['licenceNumber']">
    </app-error-messages>
  </div>

  <div>
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description">

    <app-error-messages
      *ngIf="carForm.controls.description.invalid && carForm.controls.description.touched"
      [messages]="formErrors['description']">
    </app-error-messages>
  </div>

  <div>
    <label for="year">Year:&nbsp;</label>
    <input id="year" type="number" formControlName="year">

    <app-error-messages
      *ngIf="carForm.controls.year.invalid && carForm.controls.year.touched"
      [messages]="formErrors['year']">
    </app-error-messages>
  </div>

  <div>
    <label for="color">Color:&nbsp;</label>
    <select id="color" formControlName="color">
      <option *ngFor="let color of colors" [value]="color.value">
        {{ color.display }}
      </option>
    </select>

    <app-error-messages
      *ngIf="carForm.controls.color.invalid && carForm.controls.color.touched"
      [messages]="formErrors['color']">
    </app-error-messages>
  </div>

  <div>
    <input id="electric" type="checkbox" formControlName="isElectric">
    <label for="electric">Electric&nbsp;</label>

    <input id="safe" type="checkbox" formControlName="isSafe">
    <label for="safe">Safe&nbsp;</label>
  </div>

  <div>
    <button type="submit" [disabled]="carForm.invalid">OK</button>
    <button (click)="carForm.reset()">Cancel</button>
  </div>
</form>
