<form>
  <div>
    <input type="text">
  </div>

  <div>
    <input type="number">
  </div>

  <div>
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>

  <div>
    <label for="cb1">1</label>
    <input id="cb1" type="checkbox">
  </div>

  <div>
    <label for="cb2">2</label>
    <input id="cb2" type="checkbox">
  </div>

  <div>
    <label for="cb3">3</label>
    <input id="cb3" type="checkbox">
  </div>

  <div>
    <button>OK</button>
    <button>Cancel</button>
  </div>
</form>
